/appunti.py
/outputs/exportPowerBI/._SUCCESS.crc
/outputs/exportPowerBI/.part-00000-a791e1be-06ae-4076-9f75-640f52d3a16f-c000.csv.crc
/outputs/exportPowerBI/_SUCCESS
/outputs/exportPowerBI/part-00000-a791e1be-06ae-4076-9f75-640f52d3a16f-c000.csv
/outputs/gFull/g.edges.csv/._SUCCESS.crc
/outputs/gFull/g.edges.csv/.part-00000-f1a9508f-c07c-4b50-b502-cc61243a283f-c000.csv.crc
/outputs/gFull/g.edges.csv/_SUCCESS
/outputs/gFull/g.edges.csv/part-00000-f1a9508f-c07c-4b50-b502-cc61243a283f-c000.csv
/outputs/gFull/g.vertices.csv/._SUCCESS.crc
/outputs/gFull/g.vertices.csv/.part-00000-5de0461f-aa82-4dc4-bfc0-a89ce3c9676e-c000.csv.crc
/outputs/gFull/g.vertices.csv/_SUCCESS
/outputs/gFull/g.vertices.csv/part-00000-5de0461f-aa82-4dc4-bfc0-a89ce3c9676e-c000.csv
/outputs/id_neighbours_8001112/id.edges.csv/._SUCCESS.crc
/outputs/id_neighbours_8001112/id.edges.csv/.part-00000-1c0994b8-c2fc-40f3-ae93-ab013f4448a7-c000.csv.crc
/outputs/id_neighbours_8001112/id.edges.csv/_SUCCESS
/outputs/id_neighbours_8001112/id.edges.csv/part-00000-1c0994b8-c2fc-40f3-ae93-ab013f4448a7-c000.csv
/outputs/id_neighbours_8001112/id.vertices.csv/._SUCCESS.crc
/outputs/id_neighbours_8001112/id.vertices.csv/.part-00000-f932dee6-a56a-4763-8cc3-e6ae4f30e022-c000.csv.crc
/outputs/id_neighbours_8001112/id.vertices.csv/_SUCCESS
/outputs/id_neighbours_8001112/id.vertices.csv/part-00000-f932dee6-a56a-4763-8cc3-e6ae4f30e022-c000.csv
/outputs/id_neighbours_8001112_gephi/edges.csv
/outputs/id_neighbours_8001112_gephi/edges.csv.bak
/outputs/id_neighbours_8001112_gephi/vertices.csv
/outputs/id_neighbours_8001112_gephi/vertices.csv.bak
/outputs/wordCloud/._SUCCESS.crc
/outputs/wordCloud/.part-00000-4e133e70-37d9-4b6e-a95b-923aa90d260d-c000.csv.crc
/outputs/wordCloud/_SUCCESS
/outputs/wordCloud/part-00000-4e133e70-37d9-4b6e-a95b-923aa90d260d-c000.csv
/outputs/ESEMPIO_NEIGHBOURS.gephi
/motifs.py
/schema_twitter.txt
